competitions/Digit_Recognizer/data
competitions/HousePrices/data
competitions/HousePrices/report
competitions/Titanic/data
competitions/Titanic/report
competitions/Predict_Future_Sales/data
competitions/Predict_Future_Sales/report
competitions/Predict_Future_Sales/models
competitions/Predict_Future_Sales/final_submission
competitions/Predict_Future_Sales/final_submission.zip
competitions/Disaster_Tweets/data
competitions/Disaster_Tweets/report
competitions/Disaster_Tweets/models
*.ipynb_checkpoints
*.pyc
*.hdf5